[2015-03-13 14:09] samageloff opened #2 "npm install error"
Hey guys, thanks for your work on this. Upon running (sudo) npm install, I'm getting the following error, on what appears to be grunt-contrib-jscs.

Can someone see if they can replicate the issue?
...

320 http 304 https://registry.npmjs.org/grunt-recess
321 silly registry.get cb [ 304,
321 silly registry.get   { date: 'Fri, 13 Mar 2015 14:04:38 GMT',
321 silly registry.get     server: 'Apache',

[2015-03-13 15:03] #2 closed, assigned to nobody

[2015-03-18 17:44] ian-bartholomew opened #4 "Can't run"
Running Start.app (going from the readme) results in

[code]

running ./start.command from the .source dir results in:

[code]

[2015-03-20 01:46] #4 closed, assigned to caiovaccaro

[2015-03-23 19:23] caiovaccaro opened #6 "Can't install homebrew and node.js"
Homebrew asks the user to hit RETURN and install with the sudo command. Both are not possible inside a compiled app (Start.app).

Possible solution in the first method of: https://gist.github.com/isaacs/579814

The only reason to install Homebrew is to install Node.js.

[2015-03-25 16:58] #6 closed, assigned to nobody

[2015-07-15 17:53] caiovaccaro opened #7 "Implement tests and Travis CI"
Use:
- Karma (or not)
- Nightwatch
- Travis CI

Test:
- Dependencies
- Structure scripts and functions (unit testing)
- DOM elements
- Basic E2E

[2015-07-18 12:32] d2s opened #8 "Sass compile error visible after installation"
Sass compile error visible in the page header after first (and second) start of the software:

[code]

![screen shot 2015-07-18 at 1 58 30 pm huge style guide - firefox 39 - sass compile error](https://cloud.githubusercontent.com/assets/135053/8761595/b7c8e466-2d61-11e5-9c2b-f7304e5c9bf3.png)

![screen shot 2015-07-18 at 3 26 47 pm huge style guide - firefox 39 - sass compile error - web inspector

[2015-07-18 21:26] #8 closed

[2015-07-18 21:28] caiovaccaro commented on #8
Done! Please download the files again or just delete the line as shown in the commit above. Let me know if that is all!

Thank you for creating the issue.

[2015-07-18 23:10] d2s commented on #8
@caiovaccaro Thanks, works nicely after git repository sync (to the local directory).

[2015-07-19 03:39] caiovaccaro opened #10 "Use harp as a middleware"
Reference:
- http://harpjs.com/docs/environment/lib

[2015-07-20 14:21] caiovaccaro opened #11 "Modules as pages and not only blocks"

[2015-07-20 14:22] caiovaccaro opened #12 "Different layouts"

[2015-07-21 09:42] vilav opened #13 "404 on launch"
Hello!

I installed the style guide and initially faced a npm error. I ran the sudo command described in the README.md and was able to get the progress to 100.

Upon Launch it leads me to local host 404

Also Here's the extract from the Start.app upon completion:

Styleguide. Welcome!
PROGRESS:50
/Users/vilavbhatt/Downloads/styleguide-master/Start.app/Contents/Resources/script: line 28: .bashrc: N

[2015-07-21 09:52] caiovaccaro commented on #13
Hey!

So, just to be sure the step you said you went through is this one:

[code]
Correct? Can you please try running that one more time and then the Start.app again?

After that let me know the output for:
[code]
[code]

Thanks again!

[2015-07-21 10:34] vilav commented on #13
Hi,

thanks for replying!

Here's the result for "type node"
node is /usr/local/bin/node

where as the result for "type harp" is
-bash: type: harp: not found

Do I install Harp?

Thanks!

[2015-07-21 10:46] caiovaccaro commented on #13
Hi,

Try using both commands:
[code]

And then running Start.app again. Sorry I'm trying to solve the cause of the problem so I can implement a patch for it, but yes installing harp with sudo would probably solve your problem as well.

If you can try the above commands first, instead of installing harp manually it would be very helpful. Let me know if it works.

[2015-07-21 10:57] vilav commented on #13
Hi, that worked! The StyleGuide launched.

Getting a CSS error though, Screenshot:

<img width="1680" alt="screenshot 2015-07-21 18 55 43" src="https://cloud.githubusercontent.com/assets/849098/8799099/22f0554c-2fda-11e5-84cc-1e0e3157051c.png">

[2015-07-21 11:49] caiovaccaro commented on #13
Perfect!

The CSS error already was fixed as seen here: https://github.com/hugeinc/styleguide/issues/8

Just download the Styleguide again or sync your git repo and you will be fine! Let me know if it is working so I can close the issue.

[2015-07-21 15:17] Braunson opened #14 "Website Download Link for Windows/Linux is invalid"
Hey there,

There wasn't anywhere to edit the site (on GH) nor a contact section but the Windows-Linux link is invalid and return 404 Not Found.

Perhaps this is what it should be.
`https://github.com/hugeinc/styleguide/archive/release/windows-linux.zip`

[2015-07-21 15:25] #14 closed

[2015-07-21 15:25] caiovaccaro commented on #14
Hi @Braunson , thanks a lot!

The branching model was updated and the website wasn't. Just did that now.

[2015-07-21 15:27] caiovaccaro commented on #14
The source of the site will be public in a separate repo very soon, thanks again for your help and interest!

[2015-07-21 16:11] Braunson commented on #14
:+1:

[2015-07-21 17:39] vilav commented on #13
Hey!

Still encountering the CSS error as described in the above screenshot. Doing this using the latest zip from GitHub..

[2015-07-21 17:52] caiovaccaro commented on #13
Hey @vilav !

Alright, can you please paste here in a [code block](https://help.github.com/articles/github-flavored-markdown/#fenced-code-blocks) the content of the file **styleguide/modules/6_forms/vendor/foundation-form.scss**?

Thanks!

[2015-07-21 18:17] elzii opened #15 "Port conflict for users with php-fpm installed"
OSX

After installing the app without issue, Chrome opens `localhost:9000` and I get a "No data received - ERR_EMPTY_RESPONSE".

![ERR_EMPTY_RESPONSE](http://i.imgur.com/HTWuq8T.png)

I assume there may be a port conflict so I ran `lsof -n -i4TCP:9000 | grep LISTEN` and got

[code]

Rather than mess with my php install I went into `watch.js` and changed the `PORT` variable, after which all went we

[2015-07-21 18:34] caiovaccaro commented on #15
Hey @elzii , good catch.

Thanks for this, I will do a couple of things:
- Add this case to the Known issue section
- Document on how to change the port
- Add a command line option to do it
- Change the port number, since it is also the default harp.js port

Thanks a lot for this!

[2015-07-21 18:35] vilav commented on #13
Sure thing, Caio.

Thanks for the link on code blocks :D Attached the code block below.
Also noticed that the form's formatting isn't showing up properly. Attached screenshot.

<img width="1251" alt="screenshot 2015-07-22 02 34 50" src="https://cloud.githubusercontent.com/assets/849098/8809282/493afa50-301a-11e5-8246-f218549feda2.png">

[code]

[2015-07-21 18:54] caiovaccaro commented on #13
Alright, you might have the old Styleguide folder running.

Can you change the port of the Styleguide and run Start.app again?

- Go to **styleguide/structure/_node-files/watch.js**
- Change **PORT** to 7000 or alike
- Run the Start.app again

We are still testing killing the process on that port before starting, so if you can do those steps manually now it will be helpful. You will not have to do

[2015-07-22 04:01] vilav commented on #13
hey Caio,

Just did that. Still getting the CSS error.
<img width="861" alt="screenshot 2015-07-22 12 00 21" src="https://cloud.githubusercontent.com/assets/849098/8817716/694835e8-3069-11e5-8be5-32005200ec35.png">

Cheers!

[2015-07-22 09:14] pschultz commented on #15
Please honor the `PORT` environment variable as well.

[2015-07-22 13:28] caiovaccaro commented on #15
Will do that. Thanks again!

[2015-07-22 13:34] caiovaccaro commented on #13
You have the correct file, which doesn't have the part of the error message.

Can you upload another screenshot of the error message and confirm that the file path is indeed of the new files you have downloaded?

[2015-07-22 15:22] #15 closed

[2015-07-26 20:20] caiovaccaro opened #18 "Use generic names for module files"
[code]

[2015-07-30 22:31] caiovaccaro commented on #13
Hi @vilav , any update on this?

[2015-07-30 23:24] caiovaccaro opened #19 "Firefox sidebar navigation not working properly"

[2015-07-30 23:26] #19 closed

[2015-07-31 17:29] caiovaccaro opened #21 "Wait the server 200 response to open the browser"
Done on [develop](https://github.com/hugeinc/styleguide/tree/develop)

[2015-08-01 03:46] CoralSilver opened #22 "Can this be used with Sass libraries and frameworks?"
Can Sass libraries and frameworks like Bourbon and Susy be used with this?

[2015-08-01 13:02] caiovaccaro commented on #22
Hi @CoralSilver !

Any library that can be imported from source files in the project should work fine. So you would have to download and include the files in the Styleguide, along with importing what you need in your modules.

Let me know if you have any problems, since [Harp](https://github.com/sintaxi/harp) uses a different and fastest way to compile sass files.

Thanks!

[2015-08-03 17:23] #22 closed

[2015-08-03 17:23] #13 closed

[2015-08-03 19:39] KrisOlszewski opened #23 "Pretty HTML output"
Hi there, would it be possible to pass an option to Harp to not minify Jade output? It makes it difficult to read Prism code. See here: http://hugeinc.github.io/styleguide/demo/#!forms

[2015-08-03 20:41] caiovaccaro commented on #23
Hey @KrisOlszewski ! Thank you for pointing that out.

Actually it is not possible to do it directly though Harp, as stated in this issue: https://github.com/sintaxi/harp/issues/169

But it is possible to add a step in the compilation stage, where the code would be "prettified".

[2015-08-03 20:43] caiovaccaro commented on #23
I've just renamed your issue to the feature name. It will be released with the 2.0.4 version!

[2015-08-03 20:44] KrisOlszewski commented on #23
Sounds great, thank you!

[2015-08-05 16:35] CoralSilver opened #25 "Represent variables in styleguide"
Is there any way to represent sass variables in the styleguide? In the demo, for example, it shows colors by adding a class to the div which adds a background-color.  Could this be done in some way with a color variable?

[2015-08-05 19:48] caiovaccaro commented on #25
Hi @CoralSilver ,

Yes it is possible, but right now just with explicit declaration of dependencies. What this means exactly? Better shown in an example:

In the same way that in modern javascript applications you have imports at the top of every file and you have to import every dependent part, even what you need repeatedly in several files:
[code]

At this point in the Styleguide, you have to ex

[2015-08-05 19:48] #7 closed

[2015-08-05 19:54] #21 closed

[2015-08-05 20:53] CoralSilver commented on #25
Thanks for the quick reply @caiovaccaro.  I guess I meant more how would ```$theNewBlack``` be represented to the user as an available variable, since HTML, but no sass code is shown in the styleguide?  For instance ```.bg-blue``` shows up over the background color in the demo. It would be cool if that could be the variable name instead, maybe also with the hex code shown.

Or is the idea behind t

[2015-08-05 21:22] caiovaccaro commented on #25
Hey,

I see what you mean. Actually it is completely flexible. So yes it is possible, but because of the Styleguide separation of concerns, right now you have to add any content information you want into the .json file.

So if you add something like this:
[code]

You can use that information freely in the .jade file:
[code]
Or:
[code]

Or anything you want, actually. You can then style that inside

[2015-08-06 21:47] caiovaccaro commented on #25
Does that makes sense to you @CoralSilver ?

[2015-08-09 00:10] caiovaccaro opened #27 "Remove livereload script when compiling"

[2015-08-09 17:18] #27 closed

[2015-08-09 17:19] #23 closed

[2015-08-10 16:59] CoralSilver commented on #25
Yes, thanks @caiovaccaro.

[2015-08-10 16:59] #25 closed

[2015-08-10 21:40] gabrielpugliese-luizalabs opened #32 "If harp is not installed, it does not raise any errors"
It would be nice to raise an error or something, because I just skipped that part and didn't know why it was not working :)

[2015-08-10 22:27] caiovaccaro commented on #32
Hey @gabrielpugliese-luizalabs ! By skipped, what do you mean exactly? You have used the Start.app or the manual installation process?

Thanks!

[2015-08-10 22:51] gabrielpugliese-luizalabs commented on #32
It's the manual process. I haven't noticed that there is an Start.app command (haven't found it yet - where is it located?)

[2015-08-10 22:58] caiovaccaro commented on #32
What is your operating system, windows?

On Monday, August 10, 2015, gabrielpugliese-luizalabs <
notifications@github.com> wrote:

[2015-08-11 13:56] gabrielpugliese-luizalabs commented on #32
Ubuntu 14.04

[2015-08-11 14:54] caiovaccaro commented on #32
Ok! Nice, can you just write your steps so I can reproduce?

Something like:

- I installed this..
- And then did this command..

Etc. And I will add a error message for missing dependencies when starting the server.

[2015-08-11 16:34] gabrielpugliese-luizalabs commented on #32
Ok

1. I've downloaded the bundle and unzipped
2. `cd styleguide/structure/_node-files && npm install`
3. `node watch.js`

The progress is 100% but nothing is being served because harpjs is not installed.

[2015-08-11 16:36] gabrielpugliese-luizalabs commented on #32
I would add a command before 2. in the steps like: `npm install -g harp` and also check if harp is installed on the startup of `watch.js`

[2015-08-11 17:42] caiovaccaro commented on #32
Perfect, I'll do that and it will be release on version 2.0.5.

Thank you!

[2015-08-11 17:47] gabrielpugliese-luizalabs commented on #32
:rocket:

[2015-08-16 08:33] laurent-d opened #34 "Osx El capitan - Progress stuck at 94%"
Hello, it seem not working on last beta developper of Os El capitan :

![huge-style](https://cloud.githubusercontent.com/assets/6553086/9292555/f30246a6-4401-11e5-8da2-0de8f090107c.gif)

If you need my complete logs don't hesitate and thanks for your work :)

[2015-08-16 11:20] caiovaccaro commented on #34
Hi! Yes I will need the complete log, please.

Thanks!

[2015-08-17 16:58] laurent-d commented on #34
Voila the complete log

Styleguide. Welcome!
PROGRESS:50
/Users/laurentdelacerda/Downloads/styleguide-master/Start.app/Contents/Resources/script: line 28: .bashrc: No such file or directory

Checking dependencies...

Binary downloaded and installed at /usr/local/lib/node_modules/harp/node_modules/terraform/node_modules/node-sass/vendor/darwin-x64-11/binding.node

` /usr/local/lib/node_modules/harp

[2015-08-17 17:22] caiovaccaro commented on #34
Okay! Please open the Terminal, go to the Styleguide folder and execute the following commands:

[code]

And run the Start.app again. Let me know what happens after, @laurent-d .

[2015-08-17 17:34] laurent-d commented on #34
No differences :

Styleguide. Welcome!
PROGRESS:0
PROGRESS:50
/Users/laurentdelacerda/Downloads/styleguide-master/Start.app/Contents/Resources/script: line 28: .bashrc: No such file or directory

Checking dependencies...

Binary downloaded and installed at /usr/local/lib/node_modules/harp/node_modules/terraform/node_modules/node-sass/vendor/darwin-x64-11/binding.node

` /usr/local/lib/node_modules

[2015-08-17 17:54] caiovaccaro commented on #34
What was the output when you ran these commands?

[code]
[code]

[2015-08-17 18:22] laurent-d commented on #34
Nothing, just a new line come :

MacBook-Pro-de-Laurent:Downloads laurentdelacerda$ cd styleguide-master
MacBook-Pro-de-Laurent:styleguide-master laurentdelacerda$ sudo chown -R $(whoami) ~/.npm
MacBook-Pro-de-Laurent:styleguide-master laurentdelacerda$ sudo chown -R $(whoami) /usr/local/lib/node_modules
MacBook-Pro-de-Laurent:styleguide-master laurentdelacerda$

[2015-08-18 13:48] caiovaccaro commented on #34
Hi @laurent-d . The [manual installation](http://hugeinc.github.io/styleguide/start.html#manual-install) with 'sudo' will solve your issue, but if you can help me to debug this in order to solve the problem it will be awesome.

Can you let me know the output for:

[code]

Thanks!

[2015-08-18 18:44] laurent-d commented on #34
Ok thanks for the trick :)
Yes i want to help you for sure :

Last login: Mon Aug 17 20:18:03 on ttys000
MacBook-Pro-de-Laurent:~ laurentdelacerda$ type node
node is /usr/local/bin/node
MacBook-Pro-de-Laurent:~ laurentdelacerda$ type npm
npm is /usr/local/bin/npm
MacBook-Pro-de-Laurent:~ laurentdelacerda$ type harp
-bash: type: harp: not found
MacBook-Pro-de-Laurent:~ laurentdelacerda$

If it's no

[2015-08-18 19:28] caiovaccaro commented on #34
Great, thanks.

Tell me what happens:

[code]

And also try to enter the npm node_modules folder to see if it exists:
[code]

Thanks again.

[2015-08-18 19:46] laurent-d commented on #34
Here you are :

MacBook-Pro-de-Laurent:~ laurentdelacerda$ npm config get prefix
/usr/local
MacBook-Pro-de-Laurent:~ laurentdelacerda$ cd /usr/local/lib/node_modules
MacBook-Pro-de-Laurent:node_modules laurentdelacerda$ ls
gulp	npm	uncss
MacBook-Pro-de-Laurent:node_modules laurentdelacerda$

 Hope it help

[2015-08-20 08:23] laurent-d commented on #34
Hi @caiovaccaro,
For information, it seems  that errors are decreased with the last update of El capitan developper release:

Styleguide. Welcome!
PROGRESS:0
PROGRESS:50
/Users/laurentdelacerda/Desktop/styleguide-master/Start.app/Contents/Resources/script: line 28: .bashrc: No such file or directory

Checking dependencies...

Binary downloaded and installed at /usr/local/lib/node_modules/harp/node

[2015-08-20 13:16] caiovaccaro commented on #34
Interesting!

Were you able to make it work with the manual install process?

[2015-08-20 14:09] laurent-d commented on #34
Not working even with manual install

MacBook-Pro-de-Laurent:_node-files laurentdelacerda$ npm install
npm WARN package.json HugeStyleguideNodeRunner@2.0.0 No description
npm WARN package.json HugeStyleguideNodeRunner@2.0.0 No repository field.
npm WARN package.json HugeStyleguideNodeRunner@2.0.0 No README data
MacBook-Pro-de-Laurent:_node-files laurentdelacerda$

acBook-Pro-de-Laurent:styleguide-

[2015-08-20 14:28] caiovaccaro commented on #34
Hey, no problem!

Have you done all steps of the manual install? Since you already have Node, what is left is:

[code]

[2015-08-20 14:41] laurent-d commented on #34
That's work :) perfect.
I hope all this issue can improve for a new version

Thanks

[2015-08-20 16:59] caiovaccaro commented on #34
Thank you for the patience @laurent-d !

[2015-08-20 16:59] #34 closed

[2015-08-23 05:57] davegomez opened #36 "The StyleguideIndex object is polluting the global/window object"
On the current way the `StyleguideIndex` object is being implemented, it is polluting the `global/window` object exposing all the properties and methods, creating security holes in the application.

The object shouldn't be globally accessible unless you want any other script to use it in some way.

[2015-08-23 12:19] caiovaccaro commented on #36
Hi @davegomez !

Yes. Previously StyleguideIndex and StyleguideIframe called each other methods but that was dropped. Even in that case the best would be to use a module loader/definition of some sort.

In any case, there must be some testing (both manual and running the current written tests) if such change is implemented (as an IIFE for example).

Definetely important, thanks again!

[2015-08-23 22:40] davegomez commented on #36
Let me see if I can make a successful refactor of this module.

[2015-08-24 00:42] davegomez commented on #36
@caiovaccaro I notice you are using the `FRONT_END_TEST` constant only for testing purposes, or there is any other use of this constant?

How important is to keep this constant in the project?

[2015-08-24 14:08] caiovaccaro commented on #36
Hi @davegomez , yes it is only for testing purposes.

I'm open to suggestions, if you want to take a look, see the travis.yml file. It should be all you need to have the tests running.

I need to be able to run the tests on Travis CI. Thanks again for your interest!

[2015-08-26 00:04] gidean opened #40 "Error On npm install"
Hey, I'm getting the following error when i run npm install
[code]

Using WIndows 7 and have Visual studio and Python installed, so i'm unsure where to go from here!

[2015-08-26 17:11] caiovaccaro commented on #40
Hi @gidean ! The above is just a warning an not an error, which is ok and common for npm modules.

Can you paste all log or describe what is happening after this?

Thanks!

[2015-08-31 17:18] rafagomes opened #41 "Translating to portuguese"
Hey guys!

I'm starting now the translation to portuguese. Any thoughts?

[2015-08-31 18:43] caiovaccaro commented on #41
Hi @rafagomes ! If you want to translate the site, go to https://github.com/hugeinc/styleguide-website/tree/develop

:)

[2015-08-31 23:38] #41 closed

[2015-09-01 12:49] personafour opened #42 "LiveReload Issue"
OS: Windows 7
Browser: Google Chrome 44.0.2403.157 m
Error:
GET http://localhost:35729/livereload.js?snipver=1 net::ERR_CONNECTION_REFUSED
(anonymous function) @ (index):1

Description:
Just downloaded & installed project and tried to do any changes.
![image](https://cloud.githubusercontent.com/assets/3624191/9604544/039c26aa-50c1-11e5-8d96-f4c6bb7d3822.png)

Actually, it doesn't work only if I do

[2015-09-01 12:56] personafour commented on #42
Also, when I start Harp server via "node watch.js" it does not open server page in browser.

[2015-09-01 16:09] personafour commented on #42
Well, now I use installation from site and fix from this [issue](https://github.com/hugeinc/styleguide/issues/8) and it works fine. But GitHub version still has same problem.

[2015-09-02 01:05] caiovaccaro commented on #42
Hi @personafour ! Thanks for collaborating. Can you tell me which link have you clicked to download both versions?

[2015-09-02 10:12] personafour commented on #42
Of course. I downloaded *.zip for Windows [here](http://hugeinc.github.io/styleguide/download.html).
GitHub version I cloned from repo with "git clone https://github.com/hugeinc/styleguide.git".

[2015-09-02 12:55] caiovaccaro commented on #42
Thank you. I will update some things and let you know. If you could test it again then it would be great.

[2015-09-02 13:08] personafour commented on #42
Of course. No problem.

[2015-09-02 13:29] caiovaccaro commented on #42
@personafour , can you try again through the .zip from the site? Thanks!

[2015-09-02 15:19] personafour commented on #42
@caiovaccaro, works fine. Without SCSS compiling errors.

[2015-09-02 15:29] personafour commented on #42
Command Line runned in Administrator mode, if it's necessary.

[2015-09-02 17:47] caiovaccaro commented on #42
Perfect, thanks!

[2015-09-02 21:29] kiriaze commented on #34
Same issue - OSX 10.10.5. Was working fine with Start.app, tried running it today and it hangs at same spot. Tried methods above, but to no avail - running node watch.js results in same hang with progress stuck at 94.

[2015-09-03 06:52] personafour opened #43 "Logic of snippet block"
OS: Windows 7
Browser: Google Chrome 44.0.2403.157 m
Error: not sure if it's error or a bug, but is there way to show in snippet only nested code? For example, currently snippets works like:

[code]

In result we get code code like this:
![image](https://cloud.githubusercontent.com/assets/3624191/9652110/0757f682-5221-11e5-828f-43aa8f38df34.png)

It would be great if snippet block can be used only

[2015-09-03 06:55] personafour commented on #42
But... Problem with livereload still there...
![image](https://cloud.githubusercontent.com/assets/3624191/9652212/e439c79c-5221-11e5-8468-ba1768f57215.png)

[2015-09-03 12:36] jessycormier commented on #43
You can use the ability to add scripts to your modules to write a small piece of code which would remove the word "snippet" from any of the outputted snippets.

What I've done is explain in an Intro section that the snippet class is literally used to denote that they have grabbed a snippet and should be removed once moving it to production.

[2015-09-03 22:10] caiovaccaro commented on #43
Thanks @personafour and @jessycormier .

Just to confirm, your issue is that you don't want the "snippet" class to appear in the code block?

[2015-09-03 23:25] caiovaccaro commented on #42
Alright, reopening issue! :)

[2015-09-04 07:30] personafour commented on #43
@caiovaccaro well, actually I thought that there is a way to use ".snippet" element as wrap to show in snippet block only nested elements like:

[code]

[code]

Of course I can parse HTML/text inside <code> and remove this class. But I thought that if it will be native feature - that would be great.

[2015-09-04 11:44] personafour opened #44 "Javascript error on guide loading breaks page functioning."
OS: Windows 7

Browser:
- Chrome 45.0.2454.85 m
- Firefox 40.0.3
- IE 11/10 (Compatibility Mode)

Errors:
Chrome
![image](https://cloud.githubusercontent.com/assets/3624191/9682694/bb42e3a0-5311-11e5-953a-a7ac79a10297.png)

Fox
![image](https://cloud.githubusercontent.com/assets/3624191/9682654/7462a8b2-5311-11e5-9779-bf1c47c9fedd.png)

IE
![image](https://cloud.githubusercontent.com/assets/362419

[2015-09-11 21:08] caiovaccaro commented on #40
Hi @gidean , still having this issue?

[2015-09-11 21:09] caiovaccaro commented on #42
@personafour , does this error causes any side effect? Or it is just that the livereload doesn't work?

Thanks.

[2015-09-11 21:10] caiovaccaro commented on #43
@davegomez , I believe you have fixed that before, right?

[2015-09-11 22:14] davegomez commented on #43
I fixed an issue related to the scss placeholders to extend classes but I can check this issue.

[2015-09-12 06:51] personafour commented on #42
@caiovaccaro just livereload doesn't work. If I reload page manually - changes will be show

[2015-09-12 17:08] caiovaccaro commented on #43
Actually it was @skywlkr who did a PR with that fix. @skywlkr can you take a look?

Sorry @davegomez .

[2015-09-28 16:47] davegomez commented on #44
I couldn't reproduce the error using Chrome 45.0.2454.101 and Firefox 41.0.

I'm also using Node v4.1.1 and Harp 0.19.0

[2015-10-08 00:20] mattyspruce opened #47 "Struggling with errors"
Hey guys,

I've been trying to troubleshoot these errors all morning without any success, any help would be much appreciated.

I've tried running manually and all of the know error fixes.

LOG:

Styleguide. Welcome!
PROGRESS:50

Checking dependencies...

npm WARN package.json HugeStyleguideNodeRunner@2.0.0 No description
npm WARN package.json HugeStyleguideNodeRunner@2.0.0 No repository field.
npm

[2015-10-11 13:56] caiovaccaro commented on #47
Hi @mattyspruce ! Thanks for taking the time.

I see you are using the Start.app right? If so, please try changing the port, since the error says the address is already in use:

[code]

Let me know if it works.

[2015-10-12 00:01] caiovaccaro commented on #36
@davegomez , any updates on this?

Thanks!!

[2015-10-12 00:02] caiovaccaro commented on #32
Closed on **develop**, soon to be merged.

https://github.com/hugeinc/styleguide/blob/develop/styleguide/structure/_node-files/watch.js

[2015-10-12 00:02] #32 closed

[2015-10-12 00:03] caiovaccaro commented on #40
Closing for lack of information.

[2015-10-12 00:03] #40 closed

[2015-10-12 00:04] caiovaccaro commented on #44
@davegomez , are you using Windows or Mac?

[2015-10-12 00:05] mattyspruce commented on #47
Thanks for the reply!

I ran those lines in the start app with no luck, also tried changing the port manually.

Updated Log:

Styleguide. Welcome!
PROGRESS:50

Checking dependencies...

npm WARN package.json HugeStyleguideNodeRunner@2.0.0 No description
npm WARN package.json HugeStyleguideNodeRunner@2.0.0 No repository field.
npm WARN package.json HugeStyleguideNodeRunner@2.0.0 No README data
PROG

[2015-10-12 00:31] caiovaccaro commented on #47
Do you have any other livereload running?

Thanks!

[2015-10-12 00:37] mattyspruce commented on #47
I occasionally use Browser Sync but haven't had it running?

[2015-10-12 00:51] mattyspruce commented on #47
FYI Browser Sync uses:

[BS] Access URLs:
 -------------------------------------
Local: http://localhost:3000
External: http://192.168.0.20:3000
 -------------------------------------
 UI: http://localhost:3001
 UI External: http://192.168.0.20:3001

[2015-10-19 22:16] davegomez commented on #36
Just getting back from vacation @caiovaccaro, let me check again the project and see how can I work on this topic.

[2015-10-19 22:17] davegomez commented on #44
@caiovaccaro I'm using OS X, maybe this is a Windows only bug.

[2015-10-21 12:20] caiovaccaro commented on #44
@davegomez I think so, do you have how to test this on a Windows machine?

[2015-10-21 12:20] caiovaccaro commented on #36
Awesome @davegomez

[2015-10-21 16:13] davegomez commented on #44
Not really =(

[2015-10-26 18:50] caiovaccaro commented on #36
Tagged for 3.0 :)

[2015-11-03 20:42] caiovaccaro opened #49 "Sync all branches with master for latest version bump (2.0.5)"

[2015-11-03 21:42] davegomez commented on #47
Hi @mattyspruce can you give me any update on this error please, show a way to reproduce it maybe?

Thanks!

[2015-11-04 01:33] Nipher opened #51 "Missing .editorconfig"
Shouldn't we create an .editorconfig file?

[2015-11-04 01:57] davegomez commented on #51
We definitely should.

[2015-11-04 15:56] caiovaccaro commented on #51
Go ahead @Nipher -san!

[2015-11-04 23:24] Nipher commented on #51
I'm looking at some files, and I'm seeing a lot of different settings...
like, some of them are:
[code]
Others are:
[code]
and even:
[code]

So I'm confuse about what settings to use, but I like the second one, for all files...
and of course, others settings as well:
[code]

What do you guys think?

[2015-11-05 02:21] caiovaccaro commented on #51
I like, go ahead with your configs.

What do you think @davegomez ?

[2015-11-05 02:24] caiovaccaro commented on #49
2 more to go: example/react and release/windows-linux

[2015-11-05 02:28] Nipher commented on #42
Seems like livereload server is running on a diffrent port: ```8374```
but when livereload injects the script tag on the page, he is using the port ```35729```

livereload server is running on the port ```8374``` because of this line:
#L13 (https://github.com/hugeinc/styleguide/blob/master/styleguide/structure/_node-files/modules/livereloader.js#L13)
causing this issue...

If I remove the #L13, li

[2015-11-05 02:34] Nipher commented on #49
Sure, will do :+1:
when merging master into release/windows-linux I get a lot of conflicts.

[2015-11-05 03:03] Nipher opened #54 "Wrong windows-linux download link"
On the page http://hugeinc.github.io/styleguide/start.html
the link for downloading the windows / linux version seems wrong.
Link: https://github.com/hugeinc/styleguide/archive/windows-linux.zip

On the page http://hugeinc.github.io/styleguide/download.html it is **correct**
**Correct** Link: https://github.com/hugeinc/styleguide/archive/release/windows-linux.zip

There was an issue like this befo

[2015-11-05 11:56] Nipher commented on #54
I've found it! :grin:

[2015-11-05 12:36] Nipher commented on #51
I've added this line too:
`max_line_length = 80`
and theses for .md file
[code]

[2015-11-05 13:20] Nipher commented on #54
Figure out that the website is on another repository
so I opened a pull request there:
https://github.com/hugeinc/styleguide-website/pull/19

[2015-11-05 17:23] #54 closed

[2015-11-05 17:23] caiovaccaro commented on #54
PR merged, link replaced.

[2015-11-05 17:24] #51 closed

[2015-11-05 20:53] Nipher commented on #42
Fixed! #58
Hey @personafour, can you download and try again?
Thanks!

[2015-11-06 16:23] Nipher commented on #44
I couldn't reproduce this...

I'm using Windows 7
did this on IE11, IE10, chrome and firefox without any error.

I'm using node 0.12.7, but I don't think node's version would affect anything on this...

@personafour can you check if this issue is still happening?

[2015-11-08 05:13] Nipher commented on #49
done :+1:

[2015-11-08 13:26] caiovaccaro commented on #49
You rock!

[2015-11-08 13:26] #49 closed

[2015-11-08 14:16] caiovaccaro commented on #42
@personafour , can you do one more test?

[2015-11-08 19:03] davegomez commented on #43
Currently the snippets are working as expected by this thread.

This snippet code:

[code]

Is generating this output in the Styleguide:

![snippet](https://cloud.githubusercontent.com/assets/282903/11022004/6b770c3c-8621-11e5-872a-3227b75a8b7a.png)

[2015-11-08 19:06] davegomez commented on #47
Couldn't reproduce this errors in Windows 10 with Nodejs v4.2.2

[2015-11-08 22:18] Nipher commented on #18
Isn't it done already?
Is the branch feature/generic-names related to this issue?
I can double check that branch to see if something is wrong / missing

[2015-11-08 22:19] caiovaccaro commented on #18
Oh don't worry about this one, it is for 3.0.

[2015-11-10 12:57] caiovaccaro commented on #44
Seems to be related to #42

[2015-11-10 12:58] caiovaccaro commented on #43
@personafour can you test again? Maybe you had an outdated version (our mistake).

[2015-11-10 12:59] caiovaccaro commented on #47
@mattyspruce can you download again and do one more test? Let us know your environment as well.

[2015-11-10 20:36] mrchaarlie commented on #42
Fwiw, I've had the same problem as @personafour, and it seems to be fixed after #58.

[2015-11-10 20:45] Nipher commented on #42
Nice! \o/
Thanks @mrchaarlie! :grin:

[2015-11-10 20:46] #42 closed

[2015-11-13 12:26] caiovaccaro commented on #43
Closing since we can't reproduce the issue. Please reopen the ticket if the problem persist with the latest version.

[2015-11-13 12:26] #43 closed

[2015-11-13 12:26] caiovaccaro commented on #44
Closing since we can't reproduce the issue. Please reopen the ticket if the problem persist with the latest version.

[2015-11-13 12:26] #44 closed

[2015-11-13 12:27] caiovaccaro commented on #47
Closing since we can't reproduce the issue. Please reopen the ticket if the problem persist with the latest version.

[2015-11-13 12:27] #47 closed

[2015-11-23 23:09] caiovaccaro opened #65 "Determine all features dependent on Harp"

[2015-11-23 23:10] caiovaccaro opened #66 "Pages/modules architecture proposals"

[2015-11-23 23:13] caiovaccaro opened #67 "POC Implement Angular and JSPM on Styleguide 2.0"

[2015-11-23 23:14] #10 closed

[2015-11-23 23:14] #11 closed

[2015-11-23 23:14] #12 closed

[2015-11-23 23:14] #18 closed

[2015-11-23 23:23] caiovaccaro opened #68 "Gather references of best usages of HTML/CSS/JS code snippets AND instructions"

[2015-11-27 00:46] caiovaccaro commented on #65
**Features that uses Harp:**
  1. Separate content from HTML through _data.json. Can be done using task runners.
  2. Usage of Jade or similar. Can be done with Express and others.
  3. Usage of environment vars on templates. Can be done with Express and others.
  4. Read directory trees and file structures in a JSON object. Can **not** be easily done without Harp or trying to reuse Harp's depende

[2015-11-27 00:47] caiovaccaro commented on #65
@davegomez and @Nipher please review.

[2015-11-27 00:47] caiovaccaro commented on #65
@bella-silveira please review.

[2015-11-27 01:39] davegomez commented on #65
I think we can easily achieve all of harp's features the style guide is using making it even easier for the final user. Let me dig deeper in harp this weekend to learn more about what it does.

[2015-11-27 02:26] Nipher commented on #65
I Agree. :+1:

I've some doubts about how `public.styleguide.modules` is populated in https://github.com/hugeinc/styleguide/blob/master/styleguide/structure/_includes/modulesData.jade#L1
But I think it is done by harp... right? as you mentioned above:

I'm not really sure what this means, does harp reads the directory tree and transform that data to json for rendering the views?

---

Ok, agree. :

[2015-11-27 04:25] davegomez commented on #65
I think if we use the server only for development we don't need express/koa at all. We can use a bundler tool like webpack to do all the stuff harp does and create a build task to compile a public version of the style guide so the users can include it in their project.

But maybe I'm missing something here.

[2015-11-27 19:07] caiovaccaro commented on #65
@Nipher Harp is based on Node, it reads the folder structure from the root and transform it in a JSON object, which is available on Jade, EJS, etc.

The difference is that Harp does not compile the files. In reality it just "compile" them in memory. The same thing can be acomplished with [terraform](https://www.npmjs.com/package/terraform) (also from Harp's developers).

@davegomez we might need a

[2015-11-28 12:51] bella-silveira commented on #65
I agree with basically everything, but I don't really see harp not being
able to upgrade to other versions of precompilers as a major problem, since
we could really create express middlewares to solve this issue, as @Nipher
said himself.

2015-11-27 17:07 GMT-02:00 Caio Vaccaro <notifications@github.com>:

[2015-11-28 13:03] caiovaccaro commented on #65
@bella-silveira then we should decide if we need Harp.

@davegomez what do you think? If we can get fast compilation of any css pre-processor and HTML template engine the user want (Harp allows this, just by changing the file extension) and read the directory tree as JSON object we are good to go.

[2015-11-28 17:39] davegomez commented on #65
In my opinion Harp is too big for what we need.

I can't say for sure that Harp compiles all the files faster than Webpack but I know we can compile any kind of file using Webpack and its loaders just changing the file extension, we can add even more file types support.

For the JSON directory tree I think we have to make our own version or use another library.

@caiovaccaro can you lend me a Harp

[2015-11-28 18:01] caiovaccaro commented on #65
@davegomez another really important thing is that we need to **compile** the Styleguide in static HTML afterwards, because a requirement is that it can be ran locally without internet or a server.

I will post the JSON object here in a bit.

[2015-11-28 18:19] caiovaccaro commented on #65
Here it is @davegomez. This is the output for the variable **public**, a default variable that Harp makes available. I just did JSON.stringify(public).

[code]

[2015-11-28 19:00] davegomez commented on #65
Let me see if I understand... What we need is to create a JSON from a directory structure o build a directory structure from a given JSON file?

[2015-11-28 19:19] caiovaccaro commented on #65
We need to read the directory tree in JSON format, in order to create the menu and render modules automatically.

https://github.com/hugeinc/styleguide/blob/master/styleguide/styleguide.jade#L6
https://github.com/hugeinc/styleguide/blob/master/styleguide/structure/_templates/_modules.jade#L2
https://github.com/hugeinc/styleguide/blob/master/styleguide/structure/_templates/_sidebar.jade#L23
https:/

[2015-11-29 13:50] caiovaccaro commented on #65
@davegomez is it clear now?

We need to define an architecture until the EOD today, even if we have 2-3 options to do POCs and test next week.

[2015-11-29 13:50] caiovaccaro commented on #66
@Nipher questions?

[2015-11-29 16:10] Nipher commented on #66
Yeah, sorry...
So, there will be:
[code]
But for each `Page Topic`, can have `Tabs`, am I right?
So... I was thinking in something like this:

[code]
And I think it is ok to not have tabs too, right?
So as you can see, there is some topics with tabs, and others without tabs...

What do you think?
Am I missing something?
Sorry for the delay

[2015-11-29 16:19] caiovaccaro commented on #66
Can you make a jade mixin to gather all that content in an object, following [this](https://github.com/hugeinc/styleguide/blob/master/styleguide/structure/_includes/modulesData.jade)?

You can do it in a clean Harp project. Remember you can read the _data.json file from each folder in order to detect which type of content it is.

Paste the code here when you are done :)

[2015-11-29 16:19] caiovaccaro commented on #68
@bella-silveira do you think we can have that today? A list of 5-10 links should be ok.

[2015-11-29 16:42] davegomez commented on #65
I think it is, I will have something for later today, I'll let you know

[2015-11-30 03:00] davegomez commented on #65
It's done. I will have it published as a small library on NPM by tomorrow so we can use at any moment. Are we looking to support from any Node.js version in particular?

[2015-11-30 08:38] caiovaccaro commented on #65
Can we see the code first?

:D

[2015-11-30 12:19] caiovaccaro commented on #65
@davegomez awesome!

[2015-12-07 23:11] #68 closed

[2015-12-07 23:11] caiovaccaro commented on #67
@davegomez news?

[2015-12-07 23:11] caiovaccaro commented on #66
@Nipher we need that :)

[2015-12-07 23:13] caiovaccaro commented on #36
Will be addressed in 3.0.

[2015-12-07 23:13] #36 closed

[2015-12-07 23:17] caiovaccaro commented on #65
So far we agree with:

- terraform
- tree-parser

[2015-12-07 23:17] #65 closed

[2015-12-08 20:35] davegomez commented on #67
Not yet @caiovaccaro, gonna work on it this week but before I have some questions to ask ;-)

[2015-12-17 12:21] kevinchevallier opened #71 "Running multiple Styleguides at once"
Having the start.app check if the port required for the browser isn't used already.

[2015-12-17 12:55] caiovaccaro commented on #71
Hi @kevinchevallier ! Do you want to propose a solution to that problem?

[2015-12-17 13:38] kevinchevallier commented on #71
Will try. After a quick check, i can see that it does take place in watch.js, nothing to do with Star.app.

[2015-12-17 20:14] davegomez commented on #71
The Styleguide server has a default config with port number included, if you want to launch more than one instance of the Styleguide you have to manually change the server port.

@caiovaccaro I think we can write a sort of check before the server starts, choose a free port and log it into the console for the user to know.

[2015-12-17 20:21] kevinchevallier commented on #71
Exactly what i was thinking. I tried to use a tool like https://github.com/indexzero/node-portfinder but without luck so far.

[2016-02-02 10:32] willzie opened #72 "Stuck on 94%"
When running start.app I am getting stuck on 94% when launching a server.

I have tried running the two sudo npm commands on listed in the known issues section. But that hasn't worked.

Log below:

/Users/jwilliams/Documents/work/RHP/RHP Documents/styleguide-master/Start.app/Contents/Resources/script: line 58: /Users/jwilliams/.bashrc: No such file or directory
Styleguide. Welcome!
PROGRESS:50
/Us

[2016-02-02 22:11] lmadenci commented on #72
I'm having the same problem on El Capitan. I changed my port to 7000 and it still only gets to 94%.
When looking in activity monitor the process exists and seems to be still trying to connect to the server.

[2016-02-04 02:16] Nipher commented on #72
ref #34

[2016-02-12 20:53] alanmarcos opened #73 "Problem trying to compile"
I'm having an issue trying to compile the styleguide: I have a bower_components/ folder on the root of my project with some dependencies in it (jquery, bootstrap...), but when i try to run `harp compile` on the root folder, it gives me this error:

[code]

it seems like harp is trying to compile some files from that bower_components/ folder.
what should i do?

I'm on a Windows10 PC.

[2016-02-12 21:19] Nipher commented on #73
Hey @alanmarcos, thanks for reporting this issue.
Could you try changing your `.bowerrc` file to change the `bower_components` to `_bower_components`?
like this:
[code]
(harp seems to ignore files/folders beginning with underscore)

Then you would need to move the `_bower_components` folder to the compiled folder I think, for the browser could manage getting the files through http requests...

[2016-02-12 21:36] alanmarcos commented on #73
Hey @Nipher, thanks for the amazingly fast reply!

That did worked out... kinda. Now the problem is within the `node_modules` folder:

    autoprefixer: <css input>:1:16838: Gradient has outdated direction syntax. New syntax is like "to left" instead of "right".
    autoprefixer: <css input>:1:16838: Gradient has outdated direction syntax. New syntax is like "to left" instead of "right".
    {

[2016-02-12 22:54] Nipher commented on #73
Hey @alanmarcos, it's a pleasure to help out :smile:

So...
About `node_modules`, I've read that you really don't have any way to change the `node_modules` name.

I've found an [issue](https://github.com/sintaxi/harp/issues/393) on harp repository talking about this.

I would love to see a `.harpignore` file to list all folders that the users of harp want to ignore, but this idea is being discusse

[2016-02-15 22:14] alanmarcos commented on #73
i renamed the `node_modules` folder to `_node_modules` and ran the `harp compile` to see if it would work. instead this happens:

    {
      "source": "Jade",
      "dest": "HTML",
      "filename": "C:\\xampp\\htdocs\\ndonline\\styleguide\\structure\\_templates\\_modules.jade",
      "lineno": 6,
      "name": "TypeError",
      "message": "Cannot read property '_data' of undefined",
      "stac

[2016-02-15 22:25] alanmarcos opened #74 "bootstrap .container class overwriting the styleguide's one"
Not really an issue, more like a sugestion of improvement: the whole styleguide is currently wrapped around a `<main>` tag with a `.container` class, which is the same name used by bootstrap to wrap it's grids, so when i import my website's css it just overwrites your styles and kinda breaks the whole thing.

Since bootstrap has one of the most popular grid frameworks, it makes sense to change the

[2016-03-01 07:23] catherine-jones opened #75 "Mac Installer getting stuck at 94% but not solved by #34"
Hi I am trying to install using the Mac installer, it looks like it is getting stuck so i looked at issue https://github.com/hugeinc/styleguide/issues/34. I followed the instructions but its still not working. I am using the latest version of OSX and XCode. Do you have any ideas what might be going wrong. I have tried the manual install and am still getting the same error

[code]

[2016-03-01 09:26] catherine-jones commented on #75
I believe this this may be related to the closed bug #47 which i noticed references Browser Sync, i do have this installed but it should not be running as I have done a system restart. I have also tried changing the port but this has not helped.

I am running OSX 10.11.3 on Mac

[2016-03-11 17:17] GraphicDesk commented on #72
Make sure that you have installed Harp

[2016-03-11 17:18] GraphicDesk commented on #75
Make sure that you have Harp installed...

[2016-03-11 17:33] Ionut-Milas opened #77 "Is there a script or something that can put together all the JS / SCSS compile it and uglify it for production ?"

[2016-03-13 15:17] caiovaccaro commented on #77
Hi @GraphicDesk !

Yes, I can add it in the Compile phase. Does this sounds good?
- Concatenate all CSS files and minify the bundle file
- Concatenate all JS files and uglify them

[2016-03-13 15:20] caiovaccaro commented on #75
Hi @catherine-jones !

It seems to be a problem with the Livereload port, in this file: https://github.com/hugeinc/styleguide/blob/master/styleguide/structure/_node-files/modules/livereloader.js#L13

We can provide a patch that fixes that. If you want you can modify the file yourself, changing the port and seeing if it solves the problem.

[2016-03-13 15:22] caiovaccaro commented on #74
Of course @alanmarcos ! We missed that. We will change it.

Thank you!

[2016-03-13 15:24] caiovaccaro commented on #73
Do you have any module without a _data.json file?

[2016-03-13 15:24] #66 closed

[2016-03-13 15:24] #67 closed

[2016-03-13 15:24] caiovaccaro commented on #71
@kevinchevallier , any improvement?

[2016-03-14 09:40] GraphicDesk commented on #77
Perfect

[2016-03-14 09:42] GraphicDesk commented on #77
However I saw that Harp has a lot to do with the node modules and if there is a problem it will crash...
Building the assets for production can't be done without Harp ?

[2016-03-14 19:23] olletsoc opened #78 "Compile app at "Progress: 0""
This is what Im getting when I try to compile. I have run the Start app and the style guide is working as it should.

"Compiling Styleguide...

PROGRESS:0
Harp wasn't found, please run the Start file."

This happens when the start app is running and the style guide is active. The only option the compiler gives me is to Quit.

Any Ideas?

[2016-03-15 02:49] caiovaccaro commented on #78
Hi! What is the OS?

[2016-03-15 17:55] olletsoc commented on #78
Hey, Im on OS X 10.10.5

[2016-03-21 14:59] kevinchevallier commented on #71
Solved. Just created a pull request.

[2016-03-24 11:24] #71 closed

[2016-03-29 19:48] appfobia opened #80 "Mac 10.11.3 - Error msg "Cannot find module 'websocket.io' ""
<p>On running the "start.app" file I am getting the following error
at Function.Module._load(module.js:300:12)</p>

<pre>
Error: Cannot find module 'websocket.io'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous> (/Users/soham/Downloa

[2016-04-07 15:29] jrdnndtsch commented on #72
Hi - I am also having a similar issue
I am get stuck on PROGRESS: 94 (no other error message) when trying to start up the style guide.
I have tried using the Start.app as well as the manual process.
I have also run the two sudo commands under number 3 in the known issues.
When I try to run the manual startup setting a PORT the printed message still says it is starting on port 8000 and still hangs

[2016-05-30 16:28] barnanorbert commented on #75
Hy, i have got the same problem like catherine's. I am using the latest version of OSX, with google chrome. The installer getting stuck at 94%. When im using the mac installer, getting this error.
<img width="931" alt="screen shot 2016-05-30 at 15 59 02" src="https://cloud.githubusercontent.com/assets/10828433/15654357/c210767e-2693-11e6-836a-b8aa21bbeab7.png">

but when im trying to install it ma

[2016-05-30 23:59] caiovaccaro commented on #80
Hi!

Can you please remove all the files, download and try again? I just updated all dependencies, Node version and fixed some bugs.

If you have NodeJS installed please make sure it is the latest version.

Thank you.

[2016-05-30 23:59] caiovaccaro commented on #78
Hi!

Can you please remove all the files, download and try again? I just updated all dependencies, Node version and fixed some bugs.

If you have NodeJS installed please make sure it is the latest version.

Thank you.

[2016-05-31 00:00] caiovaccaro commented on #75
Hi!

Can you please remove all the files, download and try again? I just updated all dependencies, Node version and fixed some bugs.

If you have NodeJS installed please make sure it is the latest version.

Thank you.

[2016-05-31 00:00] caiovaccaro commented on #73
Hi!

Can you please remove all the files, download and try again? I just updated all dependencies, Node version and fixed some bugs.

If you have NodeJS installed please make sure it is the latest version.

Thank you.

[2016-05-31 00:00] caiovaccaro commented on #72
Hi!

Can you please remove all the files, download and try again? I just updated all dependencies, Node version and fixed some bugs.

If you have NodeJS installed please make sure it is the latest version.

Thank you.

[2016-05-31 13:03] redfox05 opened #83 "Tag 2.0.8 was made, but Travis still shows this build as failing. Safe to use?"
Tag 2.0.8 was made, but Travis still shows this build as failing.
Is it still safe to use, or should we go back to build 111 which seems to be the last one that passed?

We are wanting to download the latest stable release and start working on it as soon as possible, so would appreciate if someone could help clarify the state of the builds.

[2016-05-31 13:08] barnanorbert commented on #75
After your hotfix, works like charm! Thank you mate!

[2016-05-31 13:18] caiovaccaro commented on #83
Thanks @redfox05 , it is just a confusion around the internal test dependencies. I will fix that asap.

[2016-05-31 13:18] caiovaccaro commented on #75
Awesome!

[2016-05-31 13:18] #75 closed

[2016-05-31 16:03] redfox05 commented on #83
Thanks for the super fast reply. Please can you close this issue once its fixed, so its easy to track.

[2016-06-01 02:27] caiovaccaro commented on #83
Should be good to go!

[2016-06-01 02:27] #83 closed

[2016-06-02 11:13] redfox05 commented on #83
P.s. the download link at https://github.com/hugeinc/styleguide/archive/master.zip will that include the latest changes, or should we just use the current state of your 'master' branch?

Which is the most stable to use?

[2016-06-09 08:31] R0M3 opened #84 "Running 'node watch.js' not working on Windows"
Using node watch.js doesn't seem to work on Windows. It seems command-exists.js is using the unix 'which' command for the child variable. Replacing this with 'where' doesn't seem to work. So it never finds harp and throws out 'Harp is not installed, please run npm install on styleguide/styleguide/structure/_node-files/'. (definitely have harp installed)

Thanks

[2016-06-10 14:12] redfox05 opened #85 "During preview (and on the built www) folder, error says cannot find template.css"
I keep seeing this error in console:

http://localhost:8000/styleguide/modules/8_templates/templates.css Failed to load resource: the server responded with a status of 404 (Not Found)

But searching the style-guide folders it cant find anything with reference to templates.css where would it be calling this? It says from index.hml, but cant find the original jade file generating it...

[2016-06-10 14:39] redfox05 opened #86 "Upon deploy of www folder to webserver, page does not finish loading till half a minute later"
Each time I load the styleguide the page does not finish loading for ages! And the menu on the left does not want to seem to open. But if I load the page and wait half a minute until the status bar shows it has totally finished, THEN the menu on the left opens on click without problems.

Anyone else having this issue?

[2016-06-10 14:43] redfox05 commented on #86
FOUND THE CULPRIT!

Using the Chrome Network tab, I found that the following file ended up taking 28 seconds to attempt to load, and after the 28 seconds, it gave up and status was failed in the Chrome Network tab.

`livereload.js?snipver=1`

See screenshot below:
<img width="767" alt="screen shot 2016-06-10 at 15 41 54" src="https://cloud.githubusercontent.com/assets/7571495/15967998/01b7babc-2f2

[2016-06-10 14:44] redfox05 commented on #83
I ended up using the latest pull from master.

[2016-06-11 00:14] caiovaccaro commented on #86
Hi!

Which version are you using? This is an old issue that should be already fixed.

[2016-06-11 00:16] caiovaccaro commented on #84
Thank you, very useful to us and should be fixed soon.

[2016-06-11 00:17] caiovaccaro commented on #72
Closing since a few versions were released after the issue created 4 months ago, fixing it.

[2016-06-11 00:17] #72 closed

[2016-06-11 00:20] caiovaccaro commented on #85
You might have a templates module with no CSS on it. By default the Styleguide tries to load CSS files for each module.

If you do have a templates module and there is no need for CSS, we might map those cases and don't load the CSS. That would be a minor version update.

Anyway, it is not an error but a wrong request which will not harm your application for the time being.

[2016-06-13 14:42] redfox05 opened #87 "Question: Approximate ETA of version 3.0.0"
Hi there,

Not sure if you have a forum or general questions email address, so had to post here.

In the code there are references to an upcoming version 3.0.0. Do you know when this would be finished possibly? Very rough time lines would be great if its not known. Days, weeks, months?

[2016-06-14 04:05] caiovaccaro commented on #87
Hi! Probably a few months from now :)

[2016-06-14 07:52] redfox05 commented on #87
Awesome, thanks for the quick update. Keep up the good work :)

[2016-06-14 07:52] #87 closed

[2016-06-14 07:53] redfox05 commented on #86
It appears to be Styleguide - v.2 2016/6/10.
I only literally pulled the code after you fixed the unit tests to pass the other day.

Where is the duplicate of this, shall I continue on another ticket?

[2016-06-14 07:54] redfox05 commented on #85
Understood. I can close this now then if you wish.

[2016-06-14 07:56] redfox05 commented on #77
On the same note, is it easy for us (I'm not asking you to do it @caiovaccaro :) ) to convert from harp to using a Gulp/Grunt script to do everything harp does? The rest of our app is all Gulp.

[2016-06-14 15:03] caiovaccaro commented on #85
I will leave it to improve it on the next minor version.

[2016-06-14 16:15] redfox05 opened #88 "Enhancement: change hardcoded $magenta to $sidebarLinkHoverColor"
In `/styleguide/structure/styles/_modules/_sidebar.scss` change all references to `$magenta` to `$sidebarLinkHoverColor` otherwise when you change the value of `$sidebarLinkHoverColor` in  `/styleguide/structure/styles/_base.scss`, then the colours dont update.

[2016-06-16 08:02] redfox05 commented on #86
Im still trying to debug this, and fix it myself, but I can't understand why livereload.js is being injected into the compiled www/index.html as livereload.js is only for the development environment correct?

I could just remove the folllowing line of code from index.html, but this would mean no live reload during dev work.

`<script src="styleguide/structure/scripts/styleguide.js"></script><scrip

[2016-06-16 10:11] creynolds86 opened #89 "Custom SCSS imports"
Hi,

I'm trying to import a custom Sass (SCSS) variables file which contains base brand colours.

The issue is that variables set in the `structure.scss` file are not being picked up because the modules are in an iframe and because each module has its own SCSS, how do we define variables such as colours to be used across all modules?

Importing the same variables file in to each module is not desi

[2016-06-16 13:09] redfox05 commented on #88
Also, another suggestion is to change the references in sidebar.scss for 63px to $headerHeight so that this is more centrally controlled and matches when header height is adjusted.

[2016-06-16 13:43] redfox05 commented on #86
For the time being, my workaround is as follows:

[code]

I know I can take out the `if !process.env.STYLEGUIDE_COMPILE` but im leaving it in incase @caiovaccaro can come back with a fix, and then its easier to add in.

[2016-06-21 10:19] redfox05 opened #90 "Query: Converting harp compile to Gulp/Grunt"
Hi,

I posted this question as a comment on another issue, but thought best to split it out.
How easy would it be to convert from the harp compile process to a Gulp/Grunt script?

I am happy to try do this myself, but if there are any tips or things to keep in mind, if you can post them here as a reply, that would help avoid unnecessary headache if I try to convert it.

[2016-07-07 14:23] mlaurvig opened #91 "Harp is not installed, please run npm install on styleguide/styleguide/structure/_node-files/"
Hi

I'm getting this message during the install: "Harp is not installed, please run npm install on styleguide/styleguide/structure/_node-files/"

Thanks

---

**Here is the full install log:**

Styleguide. Welcome!
PROGRESS:50

Checking dependencies...

npm WARN deprecated npmconf@2.1.2: this package has been reintegrated into npm and is now out of date with respect to npm
npm WARN deprecated cros

[2016-07-25 15:54] sosheepster commented on #91
It might be related to this issue on Harp: https://github.com/sintaxi/harp/issues/564

I had Node 6 installed, and had to change the Harp version to make it work.

[2016-08-31 16:15] namirsab opened #92 "Livereload port is fixed"
Hi everybody,
Is there anyway to change the livereload port?
It's not possible to have 2 instances of HUGE running in the same server because the livereload port is fixed to 8375.

I know this issue is not following the styleguide but I didn't know where to ask.
So, if there is a better place to ask questions like this, please tell me and remove this issue.

thanks a lot!

[2016-09-07 15:09] fyllepo commented on #91
We're also experiencing this issue, but haven't had much look with Node 6.2 yet and getting harp to work, did you find any solution to this one @mlaurvig

[2016-09-07 20:00] mlaurvig commented on #91
Nope :-(

[2016-09-19 12:29] programiro opened #93 "Stucking at Progress: 94"
**After '$ node watch.js' im stucking on PROGRESS: 94**

LOG:

`
Starting Server on port 8000..
  PROGRESS:94

events.js:125
throw er; // Unhandled 'error' event
^
Error: watch ENFILE
at exports._errnoException (util.js:734:11)
at FSWatcher.start (fs.js:1216:11)
at Object.fs.watch (fs.js:1242:11)
at createFsWatchInstance (/Users/programiro/Sites/website-relaunch-2016/styleguide/structure/_node-fil

[2016-09-19 12:35] programiro commented on #93
Had to install latest Harp:
$ sudo npm install -g harp@next

https://github.com/sintaxi/harp/issues/564

[2016-10-06 09:27] mljoannou opened #94 "Cannot get style guide to start"
Please could you assist me?

I have used brew to install node and npm, but cannot get it to run successfully ?

Error: Cannot find module 'watch'
    at Function.Module._resolveFilename (module.js:455:15)
    at Function.Module._load (module.js:403:25)
    at Module.require (module.js:483:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/Users/marcusjoannou/styleguide-maste

[2016-10-13 10:00] im-fortech opened #95 "How can I add it to Heroku?"
Hi guys,

How can i add it to Heroku ?

Package.json is really deep ...

[2016-10-13 11:10] im-fortech opened #96 "Styleguid eon Heroku"
Hi there,
I've added the Styleguide to Heroku but I'm getting this error; Any help would be much appreciated ...

`node watch.js
Starting Server on port 28628..
PROGRESS:94

events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: watch /app/node_modules/sass-graph/node_modules/lodash/_equalObjects.js ENOSPC
    at exports._errnoException (util.js:953:11)
    at FSWatcher.start (fs

[2016-10-13 13:25] #96 closed

[2016-10-13 13:25] #95 closed

[2016-11-08 11:44] 10ko opened #97 "Version 3.0"
Hi everyone,

From what I understood reading some closed issues, there is a version 3.0 currently being developed.
Is there any wip repo/branch that we could have a look and maybe contribute to?

Best

[2016-12-08 23:42] caiovaccaro commented on #97
Hi @10ko , thank you for your interest. For now the development repo is in private mode, we plan to release a candidate soon.

[2016-12-08 23:42] #97 closed

[2016-12-08 23:46] caiovaccaro commented on #94
Hi @mljoannou , sorry for the late response. Have you tried manual installation? http://hugeinc.github.io/styleguide/start.html

[2016-12-08 23:47] caiovaccaro commented on #93
Thank you for the reference @programiro !

[2016-12-08 23:47] #93 closed

[2016-12-08 23:49] caiovaccaro commented on #92
Hi @namirsab !

Right now the only way to do it is manually.

You have to change the port in two places:

1. https://github.com/hugeinc/styleguide/blob/master/styleguide/structure/_node-files/modules/livereloader.js
2. https://github.com/hugeinc/styleguide/blob/master/index.jade

[2016-12-08 23:49] #92 closed

[2016-12-08 23:50] caiovaccaro commented on #91
@mlaurvig @sosheepster @fyllepo , have you had any luck with the latest version of Harp and Node?

[2016-12-08 23:52] caiovaccaro commented on #90
Hi @redfox05 ,

We haven't planned for a full integration with grunt/gulp. I'm not sure what kind of integration you want, but you might be satisfied in attaching grunt/gulp tasks for each module in: https://github.com/hugeinc/styleguide/tree/master/styleguide/structure/_node-files

[2016-12-08 23:52] #90 closed

[2016-12-08 23:53] caiovaccaro commented on #89
Hi @creynolds86 ,

I totally understand the issue, and we are looking for that and other things in version 3.0. Currently the only way to do it is to separate a variables.scss file and import it in every module.

Thanks for writing.

[2016-12-08 23:53] #89 closed

[2016-12-08 23:54] caiovaccaro commented on #88
Hi @redfox05 , can you make a pull request with that? You are most welcome :)

[2016-12-08 23:54] #88 closed

[2016-12-08 23:55] caiovaccaro commented on #86
Hi @redfox05 , thanks.

Yes if you are using the Compile.app this shouldn't happen, other wise you need to add `STYLEGUIDE_COMPILE=1` before `harp compile`.

[2016-12-08 23:55] #86 closed

[2016-12-08 23:55] #85 closed

[2016-12-09 00:00] caiovaccaro commented on #84
This was related to a `command-exists` package issue which is now fixed.

https://github.com/mathisonian/command-exists/blob/master/lib/command-exists.js#L5

[2016-12-09 00:00] #84 closed

[2016-12-09 00:00] #80 closed

[2016-12-09 00:00] #78 closed

[2016-12-09 00:01] caiovaccaro commented on #77
We opted to leave that as an optional post-build phase. On version 3.0 we should have integrations ready for cases like this.

[2016-12-09 00:01] #77 closed

[2016-12-09 00:02] #73 closed

[2017-02-16 18:53] ekfuhrmann commented on #91
I'm having the same issue. Has anyone found a solution to this yet?

[2017-02-18 11:28] caiovaccaro commented on #91
Hi @ekfuhrmann ,

Are you using windows, mac or linux? Have you tried to install harp manually?

[2017-02-21 13:36] rgustke opened #99 "Cannot run start file"
Here is the error I'm getting

Styleguide. Welcome!
PROGRESS:0
PROGRESS:50

Checking dependencies...

/private/var/folders/n0/3l1q9541505dmglhf5d4w_k80000gp/T/AppTranslocation/CB0809F9-D715-43A9-BB9E-029982BBC388/d/Start.app/Contents/Resources/script: line 31: cd: ../../../styleguide/structure/_node-files: No such file or directory
npm WARN enoent ENOENT: no such file or directory, open '/private/

[2017-02-26 12:43] caiovaccaro commented on #99
Hi there,

What is your operating system?

[2017-03-01 01:22] rgustke commented on #99
I'm on Sierra 10.2.3 currently. Looks like this isn't compatible with 64bit OS... is there any way around this?

[2017-03-07 14:49] Brunosilva84 opened #100 "Can not running start.app"
Guys sorry, how should I do with this error?
Thanks.

Styleguide. Welcome!
PROGRESS:0
PROGRESS:50

Checking dependencies...

/private/var/folders/l5/ykrry02j0cg0t3fyv4gxg6kh0000gn/T/AppTranslocation/9565D205-1016-4FDD-9BB4-BD23A627328F/d/Start.app/Contents/Resources/script: line 31: cd: ../../../styleguide/structure/_node-files: No such file or directory
npm WARN enoent ENOENT: no such file or dir

[2017-03-09 05:27] wirelessed commented on #91
I managed to force harp to the latest version by changing package.json, and then used yarn to install instead of npm. it seems to work after that!

[2017-04-20 12:50] ideacco commented on #100
I have also encountered the same problem

[2017-04-20 15:43] ideacco commented on #91
I'm having the same issue. Has anyone found a solution to this yet?

[2017-04-20 15:46] programiro commented on #91
U have to install install harp@next with npm version 4 lts…

[2017-04-24 18:47] charlottechen1993 commented on #100
Experienced the same issue :(

[2017-04-25 18:26] caiovaccaro commented on #91
Updating the dependencies version solved for me. Just pushed to a separate branch. If you can please test, downloading a zip from this link: https://github.com/hugeinc/styleguide/tree/hotfix/dependencies-version

[2017-04-25 18:27] caiovaccaro commented on #94
Updating the dependencies version solved for me. Just pushed to a separate branch. If you can please test, downloading a zip from this link: https://github.com/hugeinc/styleguide/tree/hotfix/dependencies-version

[2017-04-25 18:27] caiovaccaro commented on #99
What is your Node version?

Updating the dependencies version solved for me. Just pushed to a separate branch. If you can please test, downloading a zip from this link: https://github.com/hugeinc/styleguide/tree/hotfix/dependencies-version

[2017-04-25 18:27] caiovaccaro commented on #100
Updating the dependencies version solved for me. Just pushed to a separate branch. If you can please test, downloading a zip from this link: https://github.com/hugeinc/styleguide/tree/hotfix/dependencies-version

[2017-04-25 19:04] charlottechen1993 commented on #100
Actually I just downloaded the windows/linux package and did manual installation and it worked. Thanks for the update.

[2017-05-17 19:03] kylanhurt commented on #99
@caiovaccaro I'm on node v.7.7.1 and I got the following issue:
[code]
Unfortunately once it gets to "PROGRESS:100" I am not seeing anything happen.

[2017-05-24 15:37] miukimiu commented on #91
My solution was to use a lower version of node. I changed it with nvm to the version **5.1.0**. I also installed the latest version of harp: `npm install -g harp@next`

[2017-05-30 22:37] victorwhy commented on #99
@caiovaccaro I'm having the same issue as kylanhurt! i went onto your hotfix branch and now i'm getting the same error @kylanhurt is getting:

what node version do we need to be running? our designers would love to check this out, but it doesn't seem like the installs work.

[code]

[2017-05-30 22:38] victorwhy commented on #99
and using the start app it's not much better :T

[code]

[2017-06-22 15:37] dlewand691 commented on #100
Just tried the dependencies version with no luck. Still getting the same errors.

[2017-07-11 07:00] Arno3N opened #102 "Cannot run start file"
Here is the full install log:

Styleguide. Welcome!
PROGRESS:0
PROGRESS:50

Checking dependencies...

/private/var/folders/yj/qs8g4y955k92s53bdclx019w0000gn/T/AppTranslocation/04A4A291-E77A-45ED-A3C6-558A643CB5FF/d/Start.app/Contents/Resources/script: line 31: cd: ../../../styleguide/structure/_node-files: No such file or directory
npm WARN enoent ENOENT: no such file or directory, open '/private/

[2017-07-11 16:26] septk commented on #102
same here

[2017-07-28 19:11] #91 closed

[2017-07-28 19:13] #94 closed

[2017-08-21 06:10] estoria opened #103 "Cannot Start"
I'm having this error

`Styleguide. Welcome!
PROGRESS:0
PROGRESS:50

Checking dependencies...

/Users/jingxin/.rvm/scripts/extras/bash_zsh_support/chpwd/function.sh: line 5: cd: ../../../styleguide/structure/_node-files: No such file or directory
/private/var/folders/1l/4x345n8d2z99ds0w3dt3_mkr0000gn/T/AppTranslocation/1F804C39-ADF6-43F4-8AA6-7372397B8D19/d/Start.app/Contents/Resources/script: lin

[2017-10-03 20:03] BecLai commented on #102
Same here, help please!

[2017-10-11 09:23] Aaronkala commented on #99
@kylanhurt and @victorwhy I fixed that problem by removing the commandExists check in `styleguide/structure/_node-files/watch.js`

[code]
Just make sure you have harp installed!

[2017-10-11 21:11] fallenturtle commented on #99
I'm having the same issues. Tried both the hotfix version and Araonkala's idea and neither worked. I even installed Harp with no luck.

[2017-11-15 19:59] interactiveRob commented on #99
@fallenturtle I got the same error, but had luck with the manual install process:
http://hugeinc.github.io/styleguide/start.html#manual-install

[2018-02-08 15:21] cbaci opened #105 "Deploying on AWS"
So I'd like to deploy this on my AWS EC2 instance. I'm running on Amazon Linux AMI. I've deployed and installed everything via npm. I'd like to bypass the Harp server and use my own, already functioning Apache.

`[ec2-user@ip-XXX-XX-XX-XXX styleguide]$ cd /structure/_node-files && node watch.js
-bash: cd: /structure/_node-files: No such file or directory
[ec2-user@ip-XXX-XX-XX-XXX styleguide]$ cd

[2018-02-15 20:00] caiovaccaro commented on #105
Hi, you need to run the compilation and serve just static HTML files ;)

[2018-02-23 02:27] cbaci commented on #105
yep, I finally figured that out. Is Xcode req'd for generating the html files?

[2018-02-23 08:48] caiovaccaro commented on #105
Not really but on a Mac it might need XCode Dev Tools in order to do some
things.

On Thu, 22 Feb 2018 at 23:27 cbaci <notifications@github.com> wrote:

[2018-03-27 16:24] ghost opened #106 "Running from Node"
Hello sorry I tweeted you then found this post. I have installed manual but when I run node watch.js I get stuck at progress 94

[2018-05-16 14:35] caiovaccaro commented on #106
Hi @tayler-ramsay , didn't see this issue before. Can you send your full logs? Thanks.

[2018-05-27 10:17] Leeyuryeon opened #108 "Translation in Korean"
I would like to translate the READMEand LICENSE documents into Korean. In fact, there are parts of Google Translator that are not natural. I will solve this.

[2018-05-28 03:17] Leeyuryeon opened #112 "Translation in Korean"
Hi, I'm Lee yuryeon
I've translated these tips to korean and published on my repository
So, please add this to you README.md for korean users
Here is my github repository : https://github.com/Leeyuryeon/translation is for Korean language
Thanks for great tips!!

[2018-07-10 16:26] AdamGerthel commented on #103
Same here, and I see this issue is pretty old. Not maintained anymore?

[2018-11-14 10:38] blndab opened #113 "Snippet block not including multiple elements"
I am trying to display the code snippet for a button with an icon, but the snippet doesn't display properly.
These are the lines in my .jade file:

[code]

And this is how it is displayed:

[code]

It should be like this though:

[code]

Can anyone help please?

[2018-11-16 10:29] caiovaccaro commented on #113
Hi @BBLinda74 , how are you?

My guess is that "jade" is pretty much outdated, and the way it is parsing is stripping out tags inside "a", or the syntax for how to write tags inside tags has changed with time.

Since I no longer work for Huge, I don't have access to update the library my self.

Styleguide uses [Harp](http://harpjs.com), that have Jade built in. It is outdated, you can update it li

[2018-11-16 11:19] blndab commented on #113
Hi @caiovaccaro ,

thank you for trying to help! I updated harp but still get the nested tags wrong. I also tried to use ": " instead of the nexted icon tag on the next line and indented, but it still strips the nested icon tag.....
I really don't know what could be wrong, because I am definitely using the correct syntax based on their documentation.

[2018-11-16 15:01] caiovaccaro commented on #113
Is your project on github @BBLinda74 ?

[2018-11-19 08:42] blndab commented on #113
Hi Caio,

yes, you can find it at https://github.com/BBLinda74/huge-styleguide-anx.
I really hope you can help ;) Thanks in advance for your effort!

Regards,
Belinda

On Fri, Nov 16, 2018 at 4:01 PM Caio Vaccaro <notifications@github.com>
wrote:

[2019-03-14 14:01] iamshipon1988 commented on #103
Try starting it manually. http://hugeinc.github.io/styleguide/start.html#manual-install

For me I'm getting errors
[code]

[2019-09-24 15:28] binc0 opened #114 "Unable to start on macOS Catalina beta 9"
Hello, I'm unable to start program I get this error now:
Error: Cannot find module '/private/var/folders/by/6v7jq9ps3lg0382sy5q52pvr0000gn/T/AppTranslocation/25DD1869-8B33-4190-AA8D-5B274BD52789/d/watch.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:772:15)
    at Function.Module._load (internal/modules/cjs/loader.js:677:27)
    at Function.Module.runMain (internal/mod

[2019-10-01 03:26] emersonk commented on #114
I'm having this same issue too. I tried the manual install as well, to no avail. I believe it's failing when trying to install harp. I tried to install harp manually and I didn't think it worked. After I attempted to install harp I tried running the Compile app and it failed immediately saying it couldn't find harp.

It appears others are having issues installing harp with npm: https://github.com/

[2020-09-24 01:01] P4ulJC opened #115 "404 file does not exist for the Windows/Linux zip file"
404 file does not exist for https://github.com/hugeinc/styleguide/archive/windows-linux.zip